# Dependencies
node_modules/
.env

# Expo
.expo/
*.jks
*.p8
*.pem
*.key
*.keystore
android/
ios/

# macOS
.DS_Store

# npm / yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn

# IDEs
.vscode/
.idea/

# Misc
*.bak
*.swp
*~.nib
*.log
